<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liuxizhen.oopproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".booking1"
            android:screenOrientation="portrait"/>
        <activity android:name=".search"
            android:screenOrientation="portrait"/>
        <activity android:name=".refund1"
            android:screenOrientation="portrait"/>
        <activity android:name=".conditional_booking1"
            android:screenOrientation="portrait"/>
        <activity android:name=".refund2"
            android:screenOrientation="portrait"/>
        <activity android:name=".booking2"
            android:screenOrientation="portrait"/>
        <activity android:name=".conditional_booking4"
            android:screenOrientation="portrait"/>
        <activity android:name=".booking3"
            android:screenOrientation="portrait"/>
        <activity android:name=".conditional_booking3"
            android:screenOrientation="portrait"/>
        <activity android:name=".conditional_booking2"
            android:screenOrientation="portrait"/>
        <activity android:name=".search_rate1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".search_rate2"
            android:parentActivityName=".search_rate1"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".search_rate1" />
        </activity>

        <activity android:name=".search_time1"
            android:screenOrientation="portrait"/>
        <activity android:name=".search_time2"
            android:screenOrientation="portrait"/>
        <activity android:name=".search_movie_id1"
            android:screenOrientation="portrait"/>
        <activity android:name=".search_movie_id2"
            android:screenOrientation="portrait"/>
        <activity android:name=".search_ticket1"
            android:screenOrientation="portrait"/>
        <activity android:name=".search_ticket2"
            android:screenOrientation="portrait"/>
        <activity android:name=".search_conditional_search_movie1"
            android:screenOrientation="portrait"/>
        <activity android:name=".search_conditional_search_movie3"
            android:screenOrientation="portrait"/>
        <activity android:name=".search_conditional_search_movie2"
            android:screenOrientation="portrait"/>


    </application>

</manifest>