<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liuxizhen.oopproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".booking1" />
        <activity android:name=".search" />
        <activity android:name=".refund1" />
        <activity android:name=".conditional_booking1" />
        <activity android:name=".refund2" />
        <activity android:name=".booking2" />
        <activity android:name=".conditional_booking4" />
        <activity android:name=".booking3" />
        <activity android:name=".conditional_booking3" />
        <activity android:name=".conditional_booking2" />
        <activity android:name=".search_rate1" />
        <activity
            android:name=".search_rate2"
            android:parentActivityName=".search_rate1">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".search_rate1" />
        </activity>
        <activity android:name=".search_time1" />
        <activity android:name=".search_time2" />
        <activity android:name=".search_movie_id1" />
        <activity android:name=".search_movie_id2" />
        <activity android:name=".search_ticket1" />
        <activity android:name=".search_ticket2" />
        <activity android:name=".search_conditional_search_movie1" />
        <activity android:name=".search_conditional_search_movie3" />
        <activity android:name=".search_conditional_search_movie2" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
